@using BussinesObject
@model BooksModel;

<style>
    a{
        cursor:pointer;
    }
</style>

<!-- Placeholder for displaying products -->
<h1>Book List</h1>

<div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6 text-end mb-5">
        <a class="btn btn-primary" onclick="adnewclick()" id="AddNewId">Add New</a>
        <a class="btn btn-primary" href="/PublisherListView" id="CancelId">Cancel</a>
    </div>
</div>

<form id="Masterform" asp-controller="PublisherListView" asp-action="create" method="post">
    <div class="row">
        <input type="hidden" asp-for="BooksId" />
        <div class="row">
            <div class="col-lg-4 mb-3">
                <label asp-for="Publisher" class="form-label">Publisher</label>
                <input type="text" class="form-control" asp-for="Publisher">
            </div>
            <div class="col-lg-4 mb-3">
                <label asp-for="AuthorLastName" class="form-label">Author Last Name</label>
                <input type="text" class="form-control" asp-for="AuthorLastName">
            </div>
            <div class="col-lg-4 mb-3">
                <label asp-for="AuthorFirstName" class="form-label">Author First Name</label>
                <input type="text" class="form-control" asp-for="AuthorFirstName">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" asp-for="Title">
            </div>
            <div class="col-lg-4 mb-3 ">
                <label asp-for="Price" class="form-label">Price</label>
                <input type="text" class="form-control" asp-for="Price">
            </div>           
        </div>
    </div>

    <button type="submit" class="btn btn-primary" id="SaveId">Save</button>
    <button type="submit" class="btn btn-primary" id="UpdateId">Update</button>
    <a class="btn btn-primary" href="/PublisherListView">Cancel</a>
</form>

<table id="ListView" class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Publisher</th>
            <th scope="col">Author Name</th>
            <th scope="col">Title</th>
            <th scope="col" class="text-end">Price</th>
        </tr>
    </thead>
    <tbody id="bookslist">
    </tbody>
    <tfoot id="footTotal">
    </tfoot>
</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="~/js/publisherwisesort.js" asp-append-version="true"></script>