@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Developer Assessment</h1>
    <div class="row">
        <div class="col-lg-12 mt-3 text-center">
            <a class="btn btn-outline-primary mb-2 w-25" href="/api/BooksApi/GetPublisherWiseSortList" target="_blank">1. Sorted list by Publisher</a><br />
            <a class="btn btn-outline-success mb-2 w-25" href="/api/BooksApi/GetAuthorWiseSortList" target="_blank">2. Sorted list by Author </a><br />
            <a class="btn btn-outline-primary mb-2 w-25" href="/api/BooksApi/GetPublisherWiseSpSortList" target="_blank">4. Stored procedures Publisher</a><br />
            <a class="btn btn-outline-success mb-2 w-25" href="/api/BooksApi/GetAuthorWiseSpSortList" target="_blank">4.(a) Stored procedures Author</a><br />
            <a class="btn btn-outline-primary mb-2 w-25" href="/api/BooksApi/GetSumOfPrice" target="_blank">5. Total price of all books </a><br />
            <a class="btn btn-outline-success mb-2 w-25" href="/MLACitation" target="_blank">7.MLA </a><br />
            <a class="btn btn-outline-primary mb-2 w-25" href="/CMSStyle" target="_blank">8.CMS </a>
        </div>
    </div>
</div>
