@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Developer Assessment Test Frontend</h1>
    <div class="row">
        <div class="col-lg-12 mt-3 text-center">
            <a class="btn btn-outline-primary mb-2 w-25" href="/PublisherListView" target="_blank">1. Sorted list by Publisher CRUD</a><br />
          
        </div>
    </div>
</div>